@model Models.Student
@using Utilities

@{
    var years = Model.Registrations
        .Select(r => r.Year)
        .Distinct()
        .OrderByDescending(y => y)
        .ToList();
}

@foreach (int year in years)
{
    var regs = Model.Registrations
        .Where(r => r.Year == year)
        .OrderBy(r => r.Course.Code)
        .ToList();

    <details id="registrations_details_@year" open>
        <summary>@year</summary>
        @foreach (var reg in regs)
        {
            <div class="list-item">
                <a href="/Courses/Details/@reg.CourseId">
                    <span style="color: #555;">[@reg.Course.Session]</span>
                    <span class="course-code">@reg.Course.Code</span>
                    @reg.Course.Title
                </a>
            </div>
        }
    </details>
}